[Desktop Entry]
Version=1.0
Type=Application
Name=Previous Wallpaper
Comment=Switch to previous wallpaper
Exec=/home/trbiv/nixos-config/scripts/wallpaper-switcher.sh prev
Icon=go-previous
Terminal=false
Categories=Utility;DesktopUtility;Settings;
Keywords=wallpaper;background;previous;switch;